<p id="notice"><%= notice %></p>

<div class="login-page-container">
  <%= form_tag %>
  <div class="login-page-email">
    <div class="login-page-email-text">
      <%= label_tag :email %>
    </div>
    <div class="login-page-email-input">
      <%= text_field_tag :email %>
    </div>
  </div>
  <div class="login-page-password">
    <div class="login-page-password-text">
      <%= label_tag :password %>
    </div>
    <div class="login-page-password-input">
      <%= password_field_tag :password %>
    </div>
  </div>
  <%= submit_tag "Login", class: "login-page-login" %>
  <%= link_to "Sign Up", signup_path, class: "login-page-sign-up" %>
</div>
