<p id="notice"><%= notice %></p>

<div class="results-page-title">Responses Submitted for <%= @survey.title %></div>
  <div class="results-container">
  <% @questions.each do |question| %>
    <div class="results-data-container">
      <% answers = Answer.where(question_id: question.id) %>
      <div class="results-data-title"><%= question.order_number %>. <%= question.question_text %></div>
  
      <table>
        <thead>
          <tr>
            <th>Response</th>
            <th>Submission ID</th>
            <th colspan="1"></th>
          </tr>
        </thead>
  
        <tbody>
          <% answers.each do |answer| %>
          <tr>
            <td class="results-data-table-response"><%= answer.response %></td>
            <td class="results-data-table-sub-id"><%= link_to "#{answer.submission_id}", answer.submission %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  </div>

<%= link_to 'My Surveys', surveys_path %>
<%= link_to 'Take this Survey', @survey %>
<%= link_to 'Home', root_path %>
