<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="survey-edit-container">
    <div class="field survey-edit-author-container">
      <div class="survey-edit-author-text">
        <%= f.label :author_id %><br>
      </div>
      <div class="survey-edit-author-input">
        <%= f.number_field :author_id %>
      </div>
    </div>
    <div class="field survey-edit-title-container">
      <div class="survey-edit-title-text">
        <%= f.label :title %><br>
      </div>
      <div class="survey-edit-title-input">
        <%= f.text_field :title %>
      </div>
    </div>
    <div class="field survey-edit-description-container">
      <div class="survey-edit-description-text">
        <%= f.label :survey_description %><br>
      </div>
      <div class="survey-edit-description-input">
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="field survey-edit-question-published-container">
      <%= f.label :published? %>
      <%= f.check_box :published %>
    </div>
      <%= f.fields_for :questions do |ff| %>
        <div class="field survey-edit-question-text-container">
          <div class="survey-edit-question-text-title">
            Question <%= ff.index + 1 %>
            <%= ff.hidden_field :order_number, :value => (ff.index + 1)  %>
          </div>
          <div class="field survey-edit-question-input">
            <%= ff.text_field :question_text %>
          </div>
        </div>
        <div class="field survey-edit-question-description-container">
          <div class="survey-edit-question-description-text">
            <%= ff.label :description %> (optional)<br>
          </div>
          <div class="survey-edit-question-description-input">
            <%= ff.text_area :question_info %>
          </div>
        </div>
        <div class="field survey-edit-question-type-container">
          <div class="survey-edit-question-type-text">
            <%= ff.label :question_type %><br>
          </div>
          <div class="survey-edit-question-type-dropdown">
            <%= ff.select :question_type, options_for_select(["", "Text - Short", "Text - Long", "Yes or No", "Checkbox"]) %>
          </div>
        </div>
        <div class="field survey-edit-question-required-container">
          <%= ff.label :required? %>
          <%= ff.check_box :required %>
        </div>
        <div class="field survey-edit-question-delete-container">
          <%= ff.label :_destroy, "Delete" %>
          <%= ff.check_box :_destroy %>
        </div>
      <% end %>
      <div class="survey-edit-create-survey-button">
        <%= f.submit %>
      </div>
  </div>
<% end %>
