<div class="survey-edit-container">

<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :author_id, :value => session[:author_id]%><br>
    <%= f.hidden_field :published, :value => false %>
    <div class="survey-edit-title-description">
      <div class="field survey-edit-title-container">
        <div class="survey-edit-title-text">
          <%= f.label :title %>
        </div>
        <div class="survey-edit-title-input">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="field survey-edit-description-container">
        <div class="survey-edit-description-text">
          <%= f.label :survey_description %><br>
        </div>
        <div class="survey-edit-description-input">
          <%= f.text_area :description %>
        </div>
      </div>
    </div>
    <ul class="unordered-list">
      <%= f.fields_for :questions do |ff| %>


      <li>
        <div class="survey-edit-question-container">
          <div class="field survey-edit-question-text-container">
            <div class="survey-edit-question-text-title">
              Question <%= ff.index + 1 %>
              <% number = ff.index + 1 %>
              <%= ff.hidden_field :order_number, :value => number  %>
            </div>
            <div class="field survey-edit-question-input">
              <%= ff.text_field :question_text %>
            </div>
          </div>
          <div class="field survey-edit-question-description-container">
            <div class="survey-edit-question-description-text">
              <%= ff.label :description %> (optional)<br>
            </div>
            <div class="survey-edit-question-description-input">
              <%= ff.text_area :question_info %>
            </div>
          </div>
          <div class="field survey-edit-question-type-container">
            <div class="survey-edit-question-type-text">
              <%= ff.label :question_type %><br>
            </div>
            <div class="survey-edit-question-type-dropdown">
              <%= ff.select :question_type, options_for_select(["", "Text - Short", "Text - Long", "Yes or No", "Checkbox"]) %>
            </div>
          </div>
          <div class="field survey-edit-question-required-container">
            <%= ff.label :required? %>
            <%= ff.check_box :required %>
          </div>
          <div class="field survey-edit-question-delete-container">
            <%= ff.label :_destroy, "Delete" %>
            <%= ff.check_box :_destroy %>
          </div>
        </div>
      </li>

              <script type="text/html" id="survey-question">

              <div class="survey-edit-question-container">
                <div class="field survey-edit-question-text-container">
                  <div class="survey-edit-question-text-title">
                    Question <%= number + 1  %>
                    <%= ff.hidden_field :order_number, :value => number + 1 %>
                  </div>
                  <div class="field survey-edit-question-input">
                    <%= ff.text_field :question_text %>
                  </div>
                </div>
                <div class="field survey-edit-question-description-container">
                  <div class="survey-edit-question-description-text">
                    <%= ff.label :description %> (optional)<br>
                  </div>
                  <div class="survey-edit-question-description-input">
                    <%= ff.text_area :question_info %>
                  </div>
                </div>
                <div class="field survey-edit-question-type-container">
                  <div class="survey-edit-question-type-text">
                    <%= ff.label :question_type %><br>
                  </div>
                  <div class="survey-edit-question-type-dropdown">
                    <%= ff.select :question_type, options_for_select(["", "Text - Short", "Text - Long", "Yes or No", "Checkbox"]) %>
                  </div>
                </div>
                <div class="field survey-edit-question-required-container">
                  <%= ff.label :required? %>
                  <%= ff.check_box :required %>
                </div>
                <div class="add-del-option">
                  <div class="field survey-edit-question-delete-container">
                    <%= ff.label :_destroy, "Delete" %>
                    <%= ff.check_box :_destroy %>
                  </div>
                  
                </div>
              </div>

            </script>
            <% number += 1 %>
        <% end %>
        </ul>
        <button class="survey-edit-add">Add Question</button>


      <br>
      <div class="survey-edit-create-survey-button">
        <%= f.submit "Preview Survey" %>
      </div>
  </div>
<% end %>
