<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author_id %><br>
    <%= f.number_field :author_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :survey_description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :published? %>
    <%= f.check_box :published %>
  </div>
    <%= f.fields_for :questions do |ff| %>
      <div>Question <%= ff.index + 1 %> </div>
      <%= ff.hidden_field :order_number, :value => (ff.index + 1)  %>
      <div class="field">
        <%= ff.text_field :question_text %>
      </div>
      <div class="field">
        <%= ff.label :description %> (optional)<br>
        <%= ff.text_area :question_info %>
      </div>
      <div class="field">
        <%= ff.label :question_type %><br>
        <%= ff.select :question_type, options_for_select(["", "Text - Short", "Text - Long", "Yes or No", "Checkbox"]) %>
      </div>
      <div class="field">
        <%= ff.label :required? %><br>
        <%= ff.check_box :required %>
      </div>
      <div>
        <%= ff.label :_destroy, "Delete" %>
        <%= ff.check_box :_destroy %>
      </div>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
