<p id="notice"><%= notice %></p>


<p>
  <strong>Author:</strong>
  <%= @survey.author_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<p>
  <strong>Published?:</strong>
  <%= @survey.published %>
</p>

<br>


<% @questions.each do |question| %>
  <div><%= "*" if question.required %><%= question.order_number %>: <%= question.question_text %></div>
  <% if question.question_info %>
    <div><%= question.question_info %></div>
  <% end %>
  <% if question.question_type == "Text - Short" %>
    <div><input type="text"></div>
  <% elsif question.question_type == "Text - Long" %>
    <div><textarea rows="4" cols="50"></textarea></div>
  <% elsif question.question_type == "Yes or No" %>
    <div><input type ="radio" name="choice" value="Yes">Yes<input type ="radio" name="choice" value="No">No</div>
  <% else %>
    <div><input type="checkbox"></div>
  <% end %>
<% end %>

<div><button type="submit">Submit</button></div>




<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
