<p id="notice"><%= notice %></p>

<div class="survey-show-container">
  <div class="survey-show-author-container">
    <div class="survey-show-author-text">Author:</div>
    <div class="survey-show-author-description"><%= "#{@survey.author.first_name} #{@survey.author.last_name}" %></div>
  </div>

  <div class="survey-show-title-container">
    <div class="survey-show-title-text">Title:</div>
    <div class="survey-show-title-description"><%= @survey.title %></div>
  </div>

  <div class="survey-show-description-container">
    <div class="survey-show-description-text">Description:</div>
    <div class="survey-show-description-description"><%= @survey.description %></div>
  </div>
  <% if @survey.author_id == session[:author_id] %>
    <% if @survey.published == false %>
      <div class="survey-show-published-container">
        <div class="survey-show-published-text">This survey has not been published yet.</div>
      </div>
    <% else %>
      <div class="survey-show-published-container">
        <div class="survey-show-published-text">This survey has been published.</div>
      </div>
      <div class="survey-show-published-container">
        <div class="survey-show-published-text"><%= "Here's a link to the survey: localhost:3000/surveys/#{@survey.id}" %></div>
      </div>
    <% end %>
  <% end %>

  <br>

  <%= form_for(@submission) do |f| %>
  <%= f.hidden_field :survey_id, :value => @survey.id %>
  <% counter = 1 %>
    <% @questions.each do |question| %>
      <div class="survey-show-question-container">
        <div class="survey-show-question-text"><%= "*" if question.required %><%= counter %>. <%= question.question_text %></div>
        <% if question.question_info %>
          <div class="survey-show-question-description"><%= question.question_info %></div>
        <% end %>
          <%= f.fields_for :answers do |ff| %>
            <%= ff.hidden_field :question_id, :value => question.id %>
            <% if question.question_type == "Text - Short" %>
              <div><%= ff.text_field :response %></div>
            <% elsif question.question_type == "Text - Long" %>
              <div><%= ff.text_area :response %></div>
            <% elsif question.question_type == "Yes or No" %>
              <div><%= ff.radio_button :response, true %>
              <%= ff.label :response, 'Yes', :value => true %>
              <%= ff.radio_button :response, false%>
              <%= ff.label :response, 'No', :value => false %></div>
            <% else %>
              <div><%= ff.check_box :response %></div>
            <% end %>
          <% end %>
          <% counter += 1 %>
      </div>
    <% end %>
    <div class="survey-show-submit-button"><%= f.submit "Submit" if @survey.published %></div> 
  <% end %>
<% if !(@survey.published) %>
  <%= form_for(@survey) do |f| %>
    <div class="field survey-edit-question-published-container">
      <%= f.label :published, "Click here if you're ready to publish this survey." %>
      <%= f.hidden_field :published, :value => true %>
    </div>

    <div class="survey-edit-create-survey-button">
      <%= f.submit "Publish!" %>
    </div>
  <% end %>
<% end %>

  <%= link_to 'Edit', edit_survey_path(@survey) if @survey.author_id == session[:author_id] && !(@survey.published) %>

</div>
