<!DOCTYPE html>
<html>
<head>
  <title>SurveyPossum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navigation-bar">
    <%= link_to root_path, class: "navigation-bar-link-home" do %>
      <span class="navigation-bar-home">Home</span>
    <% end %>

    <%= link_to new_survey_path, class: "navigation-bar-link-new" do %>
      <span class="navigation-bar-new">Create New</span>
    <% end %>
  </nav>

<%= yield %>

</body>
</html>
