<!DOCTYPE html>
<html>
<head>
  <title>SurveyPossum</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

  <nav class="navigation-bar">
    <h1 class="logo">SurveyPossum</h1>
    <%= link_to 'Home', root_path, class: "navigation-bar-link-home" if session[:author_id] %>
    <%= link_to 'Create New', new_survey_path, class: "navigation-bar-link-new" if session[:author_id] %>
    <% if session[:author_id] %>
    <% @author = Author.find_by_id(session[:author_id]) %>
    <%= link_to "Logout, #{@author.first_name} #{@author.last_name}", logout_path, class: "logout-link" %>
    <% end %>

    <%= link_to 'My Surveys', surveys_path, class: "author" if session[:author_id]%>

  </nav>

<%= yield %>

</body>
</html>
